    body {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
    
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 220px;
        font-weight: 700;
        color: #000000;
        margin-left: 3%;
        margin-top: 8.89%;
        position: fixed;
    }
    
    img.wl {
        margin-left: 110%;
        margin-top: 27%;
        position: fixed;
        height: 180;
        animation-name: rotation;
        animation-duration: 9s;
        animation-iteration-count: 9s;
        animation-timing-function: linear;
    }
    
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    
    img.dis {
        margin-left: 100%;
        margin-top: 15%;
        position: fixed;
        height: 400;
        animation-name: rotationdis;
        animation-duration: 3s;
        animation-iteration-count: 3s;
        animation-timing-function: linear;
    }
    
    @keyframes rotationdis {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-720deg);
        }
    }
    
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    
    .text {
        flex: 1;
    }
    
    .animation {
        flex: 1;
    }